body {
background: #b0d7ff;
text-align: center;
}
#main {
	width: 1000px;
	height: 600px;
	background: #b0c1ff;
	margin: 25px auto;
	border: solid 2px #ffffff;
	padding: 12px;
}
h1 {
	text-align: center;
	font-family="Times New Roman";
	font-size: 24pt;
	color= #ffffff;
}
hr {
	height: 2px;
	background-color: #ffffff;
	color: #ffffff;
}
p {
	font-family:"Calibri";
	font-size: 12pt;
	text-align: left;
	color: #333c87;
}