html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

#horizon
    {
    color: black;
    background-color: transparent;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    white-space: nowrap;
    overflow: visible;
    visibility: visible;
    display: block
    }

#content
    {
    font-family: Verdana, Geneva, Arial, sans-serif;
    background-color: transparent;
    margin-left: -125px;
    position: absolute;
    top: -35px;
    left: 50%;
    width: 250px;
    height: 70px;
    visibility: visible
    }

.bodytext
    {
    font-size: 14px
    }

.headline
    {
    font-weight: bold;
    font-size: 24px
    }


/*
#footer
    {
    font-size: 30px;
    text-align: center;
    position: absolute;
    background: black;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 20px;
    visibility: visible;
    overflow: visible;
    display: block;
    }*/

a:link, a:visited
    {
    color: #cee4fe;
    text-decoration: none
    }

a:hover
    {
    color: #185555;
    text-decoration: none
    }

* {
  box-sizing: border-box;
}
.footer {
  position: absolute;
  display: inline-block;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: -100%;
  background-color: #859179;
  color: white;
  font-size: 12px;
}
.header {
  padding: 20px;
  text-align: center;
  align-items: center;
  background: #859179;
  position: relative;
  color: white;
  font-size: 25px;
}
.bottomright {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 20px;
}
.btn {
  display: inline-block;
  border: none;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  width: 900px;
  background-color: #f0f0f0;
}
.headerHomeImage {
  width: 16rem;
  height: 16rem;
}
.borderCircle {
  border-radius: 9999px;
}

.btn-lg {
  padding: 10px 16px;
  font-size: 40px;
  border-radius: 6px;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active {
  color: #fff;
  background-color: #2f2f2f;
  border-color: #2f2f2f;
}
.custom-file-upload {
    display: inline-block;
    margin-bottom: 0;
    font-size: 40px;
    font-weight: normal;
    color: #2f2f2f;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
    width: 900px;
    background-color: #f0f0f0;

}
.custom-file-upload:hover,
.custom-file-upload:focus,
.custom-file-upload:active {
    color: #fff;
    background-color: #2f2f2f;
    border-color: #2f2f2f;
}
input[type=text] {
  width: 900px;
  height: 50px;
  padding: 10px 20px;
  margin: 8px 0;
  font-size: 20px;
  border: 3px solid #ccc;
  outline: none;
}
input[type=text]:focus,
input[type=text]:hover {
  border: 4px solid #2f2f2f;
}
h1 {
	text-align: center;
	font-size: 30pt;
}
img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
